@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px 0px;
}


ul {
    display: flex;
    gap: 32px;
    padding-top: 12px;

}

li {
    list-style: none;


}

li>a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.primary button {

    color: white;
    padding: 12px 16px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    background: #30B868;
    border-color: cadetblue;
}

.primary button:hover {
    background-color: #587464;
}

.banner {
    height: 600px;
    width: 100%;

}

.banner-img {
    height: 100%;
    width: 100%;
    background-image: url("./utility/assets/hero-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.linier-bg {
    padding: 70px 120px 134px;
    text-align: center;


}

.access-btn {
    color: #3b925f;
    padding: 8px 12px;
    border-radius: 50px;
    margin: 30px 0px 5px;
}

.icon {
    border-top: 5px;
    padding: 5px;
}

.banner-title {
    margin: 16px 0px;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}


.banner-title-color {
    color: rgba(48, 184, 104, 1);
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    color: rgb(225, 214, 214)
}

.secondary-button {
    padding: 12px 16px;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

.banner-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}



.notes-text {
    text-align: center;
}

.notes-title {
    color: rgb(53, 51, 51);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;

}

.notes-description {
    color: rgb(125, 122, 122);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 44px;
}

.notes-card {
    display: flex;
    text-align: center;
    border-radius: 8px;

}

.single-card{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    margin: 12px;
}
.card-title {
    color: rgb(57, 55, 55);
    font-size: 24px;
    font-weight: 600;
}

.card-description {
    color: #6c6767;
    margin: 16px 0px 21px;
}

.icon-bg {
    height: 40px;
    width: 40px;
    background: rgba(249, 85, 85, 1);
    border-radius: 20px;
    margin-top: 60px;
}

.second-brain-section{
    display: flex;
    gap: 60px;
}

.card-1{
    height: 450px;
    width: 450px;
}

.card-2{
    margin:  80px 0px ;
}

.challange-part{
    text-align: center;
    background: rgba(247, 246, 242, 1);
    padding: 80px 40px;
}

main{
    margin: 100px;
}